<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>

  <div class="container">
        <p>Hi, I’m Nick. I’m a writer and amateur programmer.</p>
        <p>These days, I’m a full-time MBA student exploring entrepreneurship, venture capital, and a variety of other interests. I'm also doing my best to leave time for social activities.</p>
        <p>Follow the Frigate is a personal blog to share my writings and interests. Writing is largely a personal hobby, but I'm hoping to take the next step with my writing by publishing it in the public eye. I hope this blog will serve as a tool to record and refine my thinking.</p>
        <p>"Follow the Frigate" is an homage to my favorite animal - the mighty <a target="_blank" href="https://www.allaboutbirds.org/guide/Magnificent_Frigatebird/overview#">frigatebird</a>. The frigatebird reminds me of where and how I grew up. More importantly, following the frigate is an analogy for living life and exploring interests. You can read more <a href="http://www.followfrigate.com/writing/On%20the%20Frigate">here</a>.</p>
        <hr>
        <p>I'd love to keep the dialogue going if something catches your eye. Thanks for reading. </p>
        <p>Personal: [xxx] -at- [xxx].com</p>
        <p>School: [xxx] -at- [xxx].edu</p>
      </div>
    </div>
  </div>

  </body>
</html>
