<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>

  <div class="container">
        <p>Hi, I’m Nick. I’m an amateur writer and programmer.</p>
        <p>I've worn a few hats in my professional career. I got my start at a bulge bracket investment bank, cut my teeth as a debt & equity investor, and dabbled in early-stage venture capital. These days, I’m helping to build a supply chain startup focused on the forest products industry.</p>
        <p>I built Follow the Frigate to learn how to code. The site rests on the original code I wrote, but has morphed into a personal blog to share my learnings, reflections, and interests. Writing is largely a personal hobby, but I'm hoping to take the next step by publishing pieces in <s>the public eye</s> this quiet corner of the internet. I hope this site will serve as a tool to record and refine my thinking.</p>
        <p>"Follow the Frigate" is a tribute to the mighty <a target="_blank" href="https://www.allaboutbirds.org/guide/Magnificent_Frigatebird/overview#">frigatebird</a>. The frigatebird reminds me of where and how I grew up. More importantly, following the frigate is an analogy for living life and exploring interests. You can read more <a href="http://www.followfrigate.com/writing/On%20the%20Frigate">here</a>.</p>
        <hr>
        <p>I'd love to keep the dialogue going if something catches your eye. Thanks for reading. </p>
        <p>[xxx] -at- [xxx].com</p>
      </div>
    </div>
  </div>

  </body>
</html>
