<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

    <div class="container">
      <p>A few of my favorites</p>

      <p>Non-fiction
        <ul>
          <li>Shoe Dog by Phil Knight</li>
          <li>Open by Andre Agassi</li>
          <li>The Way of Baseball by Shawn Green</li>
          <li>The Tender Bar by JR Moehringer</li>
          <li>Into Thin Air by John Krakauer</li>
          <li>Kitchen Confidential by Anthony Bourdain</li>
          <li>Railroader by Howard Green</li>
          <li>Red Notice by Bill Browder</li>
        </ul>
      </p> 
      <p>Fiction
        <ul>
          <li>A River Runs Through It by Norman Maclean</li>
          <li>Lonesome Dove by Larry McMurtry</li>
          <li>The Three Body Problem by Cixin Liu</li>
          <li>Last Days of Night by Graham Moore</li>
          <li>The Road by Cormac McCarthy</li>
          <li>The Old Man and the Sea by Ernest Hemingway</li>
        </ul>
      </p> 
      <p>Philosophy, Life, and Other
        <ul>
          <li>Zen and the Art of Motorcycle Maintenance by Robert M. Pirsig</li>
          <li>Thoughts of a Philosophical Fighter Pilot by James Stockdale</li>
          <li>Man's Search for Meaning by Viktor Frankl</li>
          <li>Draft No. 4 by John McPhee</li>
        </ul>
      </p>
      </div>

  </body>
</html>
