<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

  <style>
    /* not active */
    .nav-pills .nav-link:not(.active) {
      color: black;
    }

    /* active*/
    .nav-pills .nav-link {
      color: white;
    }
  </style>

  <div class="container">
        <p>Books I am currently reading:</p>
        <p>This will be a table (similar to the blog post table I created in the "Writing" URL). The table will contain books I am currently reading, books I have read, and some of my favorite aspects of the books.</p>
      </div>
    </div>
  </div>

  </body>
</html>
