<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

  <div class="container">
        <h3>What I'm doing now</h3>
          <h5>Where:</h5>
            <p>Chicago! Living in the Windy City is great, except when it's windy. There’s no shortage of things to do, friends to see, and areas to explore.</p>
          <h5>What:</h5>
            <p>Building, making mistakes, and learning. In that order.</p> 
          <h5>Next:</h5>
            <p>Not sure!</p>
      </div>
    </div>
  </div>

  </body>
</html>
