<nav class="navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="container">
    <div class="row">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link active bg-dark" aria-current="page" href="/writing">Writing</a>
          <a class="nav-link" aria-current="page" href="/writing">Writing</a>
        </nav>  
    </div>
  </div> <!-- .navbar-collapse -->
</nav>
