<!DOCTYPE html>
<html>
  <head>
  </head>

  <style>
    /* not active */
    .nav-pills .nav-link:not(.active) {
      color: black;
    }

    /* active*/
    .nav-pills .nav-link {
      color: white;
    }
  </style>
  
  <body>

  <div class="container">
        <h3> <%= @the_post.title %> </h3>
        <p> <%= simple_format @the_post.content %> </p>
        <p> Written on <%= @the_post.updated_at.strftime("%B %e, %Y") %> </p>
      </div>
    </div>
  </div>

  </body>
</html>
      